



<ion-view>
	<ion-nav-buttons class="button" >
		<button class="button button-clear " id="by">
			<i class="icon ion-gear-a" id='i-menu' ng-click="i_tap()" >
				<ul class='menu-li'>
					<li>添加地址</li>
					<li>修改密码</li>
					<li>切换用户</li>
					<li>切换背景</li>
				</ul>
			</i>
		</button>
	</ion-nav-buttons>
   <ion-content>
   		<div class='bg'>
   			<h1 style="color:blue;position:absolute;left: 132px;
    top: 99px;">堆糖</h1>
   			<p style="position:absolute;left: 56px;
    top: 200px;
    font-size: 17px;">轻松注册，即可永久保存你的所爱</p>
   			<p style="position:absolute;top: 250px;
    font-size: 17px;
    left: 95px;">换了手机也能找到哦</p>
   			<a style="position:absolute;display: block;top: 303px;
    color: red;
    left: 149px;
    font-size: 17px;" href='#/tab/regsit'>注册</a>
   			<p style="position:absolute;left: 90px;
    top: 385px;
    font-size: 17px;">已有账号  <a href="#/tab/login">立即登录</a></p>
   	    </div>
   	   
   </ion-content>
</ion-view>