


<ion-view  title='文章详情'>
	<ion-nav-buttons class="button" >
		<button class="button button-clear" ng-click='tab()'>
			<i class="icon ion-android-arrow-back"></i>
		</button>
	</ion-nav-buttons>
	<ion-content ng-repeat="arr1 in array1">
		<h5 class='hh4'>{{arr1.z1}}</h5>
		<div class="list">
	      <a class="item item-avatar">
	      <img ng-src={{arr1.z2}}>
	      <h2>{{arr1.z3}}</h2>
	      <p>{{arr1.z4}}</p>
	      </a>
         </div>
         <div style='padding:0 10px;line-height:23px;color:#69717D'>
         	{{arr1.z5}}
         </div>
                <div class="list card ppoo">

				  <div class="item item-avatar ppo" >
				  
                   <p>{{arr1.z6}}</p>
                   
                   <p>{{arr1.z7}}</p>
				  </div>
				
				  <div class="item item-image">
				    <img ng-src={{arr1.z8}}>
				    <img ng-src={{arr1.z9}} alt="" class='wen-i'/>
				  </div>
				</div>
              <span >{{arr1.z10}}</span>
              <h6 class='s2'>{{arr1.z11}}</h6>
              <h4 class='s3'>{{arr1.z12}}</h4>
              <h5 class='s3'>{{arr1.z13}}</h5> 
              <h5 class='s3'>{{arr1.z14}}</h5>
              <h5 class='s3'>{{arr1.z15}}</h5>
              <ion-list class='diso'>
              	  <ion-item><img ng-src={{arr1.z16}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z17}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z18}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z19}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z20}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z21}} alt="" /></ion-item>
              </ion-list>
              
              <h6 class='s2'>{{arr1.z22}}</h6>
              <h4 class='s3'>{{arr1.z23}}</h4>
              <h5 class='s3'>{{arr1.z24}}</h5> 
              <h5 class='s3'>{{arr1.z25}}</h5>
              
               <ion-list class='diso'>
              	  <ion-item><img ng-src={{arr1.z26}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z27}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z28}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z29}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z30}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z31}} alt="" /></ion-item>
              </ion-list>
              
              
               <h6 class='s2'>{{arr1.z32}}</h6>
               <h4 class='s3'>{{arr1.z33}}</h4>
               <h5 class='s3'>{{arr1.z34}}</h5> 
               
               <ion-list class='diso'>
              	  <ion-item><img ng-src={{arr1.z35}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z36}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z37}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z38}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z39}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z40}} alt="" /></ion-item>
              </ion-list>
              
              
               <h6 class='s2'>{{arr1.z41}}</h6>
               <h4 class='s3'>{{arr1.z42}}</h4>
               <br/>
               <h5 class='s3'>{{arr1.z43}}</h5>
               
               <ion-list class='diso'>
              	  <ion-item><img ng-src={{arr1.z44}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z45}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z46}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z47}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z48}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z49}} alt="" /></ion-item>
              </ion-list>
               
               <h6 class='s2'>{{arr1.z50}}</h6>
              <h4 class='s3'>{{arr1.z51}}</h4>
              <h5 class='s3'>{{arr1.z52}}</h5> 
              <h5 class='s3'>{{arr1.z53}}</h5> 
              
                <ion-list class='diso'>
              	  <ion-item><img ng-src={{arr1.z54}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z55}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z56}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z57}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z58}} alt="" /></ion-item>
              	  <ion-item><img ng-src={{arr1.z59}} alt="" /></ion-item>
              </ion-list>
              
              
               <h6 class='s2'>{{arr1.z60}}</h6>
               <h4 class='s3'>{{arr1.z61}}</h4>
               <h5 class='s3'>{{arr1.z62}}</h5>
               
                <ion-list class='diso'>
              	  <ion-item><img ng-src={{arr1.z63}} alt="" /></ion-item>
              </ion-list>
              
                <br/>
                
                <h5 class='s3'>{{arr1.z64}}</h4>
                <h5 class='s3'>{{arr1.z65}}</h5>
                <h5 class='s3'>{{arr1.z66}}</h5>
                
                <button class="button button-clear ion-android-favorite"></button>
                <br/>
                <h6 class='hh6'>{{arr1.z67}}<a href="" class='te-a'>{{arr1.z68}}</a></h6>
                <div class="list aa">

				    <a class="item item-avatar" href="#">
				      <img ng-src={{arr1.z69}}>
				      <h3>{{arr1.z70}}</h2>
				      <h2>{{arr1.z71}}</h3>
				      <p>{{arr1.z72}}</p>
				      <p>{{arr1.z73}}</p>
				    </a>
				</div> 
				<div  class='dop'>
				 	<p class='pk'>{{arr1.z74}}</p>
				</div>
				
				<div class="list db">

				    <a class="item item-thumbnail-right" href="#">
				      <img ng-src={{arr1.z75}}>
				      <h2>{{arr1.z76}}</h2>
				       <br/> <br/>
				      <p>{{arr1.z77}}</p>
				    </a>
				   
				    <a class="item item-thumbnail-right" href="#">
				      <img ng-src={{arr1.z78}}>
				      <h2>{{arr1.z79}}</h2>
				       <br/> <br/>
				      <p>{{arr1.z80}}</p>
				    </a>
				    
				    <a class="item item-thumbnail-right" href="#">
				      <img ng-src={{arr1.z81}}>
				      <h2>{{arr1.z82}}</h2>
				       <br/> <br/>
				      <p>{{arr1.z83}}</p>
				    </a>
				   
				      <a class="item item-thumbnail-right" href="#">
				      <img ng-src={{arr1.z84}}>
				      <h2>{{arr1.z85}}</h2>
				      <br/> <br/>
				      <p>{{arr1.z86}}</p>
				    </a>
				
				</div>
				
				<div class='ping'>{{arr1.z87}}</div>
				   
			<div class="list card car">
					  <div class="item item-avatar">
					    <img ng-src={{arr1.z88}}>
					    <h2>{{arr1.z89}}</h2>
					    <p>{{arr1.z90}}</p>
					  </div>
					
					  <div class="item item-body">
					   <p> {{arr1.z91}}</p>
					   <br/>
					    <p>
					      <a href="#" class="subdued">{{arr1.z92}}</a>
					      <a href="#" class="subdued a1">{{arr1.z93}}</a> 
					      
						  <a class="item item-icon-right a3" href="#">
						    <i class="icon a2  ion-ios-more-outline"></i>
						  </a>
					    </p>
					  </div>
			 </div>
			 
			<div class="list card car">
					  <div class="item item-avatar">
					    <img ng-src={{arr1.z94}}>
					    <h2>{{arr1.z95}}</h2>
					    <p>{{arr1.z96}}</p>
					  </div>
					
					  <div class="item item-body">
					   <p>{{arr1.z97}}</p>
					   <br/>
					    <p>
					      <a href="#" class="subdued">{{arr1.z98}}</a>
					      <a href="#" class="subdued a1">{{arr1.z99}}</a> 
					      
						  <a class="item item-icon-right a3" href="#">
						    <i class="icon a2  ion-ios-more-outline"></i>
						  </a>
					    </p>
					  </div>
			 </div>
			 
			 	   
			<div class="list card car">
					  <div class="item item-avatar">
					    <img ng-src={{arr1.z100}}>
					    <h2>{{arr1.z101}}</h2>
					    <p>{{arr1.z102}}</p>
					  </div>
					
					  <div class="item item-body">
					   <p> {{arr1.z103}}</p>
					   <br/>
					    <p>
					      <a href="#" class="subdued">{{arr1.z104}}</a>
					      <a href="#" class="subdued a1">{{arr1.z105}}</a> 
					      
						  <a class="item item-icon-right a3" href="#">
						    <i class="icon a2  ion-ios-more-outline"></i>
						  </a>
					    </p>
					  </div>
			 </div>
			 
			 	   
			<div class="list card car">
					  <div class="item item-avatar">
					    <img ng-src={{arr1.z106}}>
					    <h2>{{arr1.z107}}</h2>
					    <p>{{arr1.z108}}</p>
					  </div>
					
					  <div class="item item-body">
					   <p> {{arr1.z109}}</p>
					   <br/>
					    <p>
					      <a href="#" class="subdued">{{arr1.z110}}</a>
					      <a href="#" class="subdued a1">{{arr1.z111}}</a> 
					      
						  <a class="item item-icon-right a3" href="#">
						    <i class="icon a2  ion-ios-more-outline"></i>
						  </a>
					    </p>
					  </div>
			 </div>
			 
			 	   
			<div class="list card car">
					  <div class="item item-avatar">
					    <img ng-src={{arr1.z112}}>
					    <h2>{{arr1.z113}}</h2>
					    <p>{{arr1.z114}}</p>
					  </div>
					
					  <div class="item item-body">
					   <p> {{arr1.z115}}</p>
					   <br/>
					    <p>
					      <a href="#" class="subdued">{{arr1.z116}}</a>
					      <a href="#" class="subdued a1">{{arr1.z117}}</a> 
					      
						  <a class="item item-icon-right a3" href="#">
						    <i class="icon a2  ion-ios-more-outline"></i>
						  </a>
					    </p>
					  </div>
			 </div>
			 
			 	   
			<div class="list card car">
					  <div class="item item-avatar">
					    <img ng-src={{arr1.z118}}>
					    <h2>{{arr1.z119}}</h2>
					    <p>{{arr1.z120}}</p>
					  </div>
					
					  <div class="item item-body">
					   <p> {{arr1.z121}}</p>
					   <br/>
					    <p>
					      <a href="#" class="subdued">{{arr1.z122}}</a>
					      <a href="#" class="subdued a1">{{arr1.z123}}</a> 
					      
						  <a class="item item-icon-right a3" href="#">
						    <i class="icon a2  ion-ios-more-outline"></i>
						  </a>
					    </p>
					  </div>
			 </div>
				
	</ion-content>
</ion-view>